---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>UM login example</title>
  </head>
  <body class="text-maas">
    <main class="mx-auto my-20 max-w-2xl px-5 md:px-0">
      <h1 class="text-6xl font-black">UM login example</h1>
      <div class="m-4">
        <slot />
      </div>
    </main>
  </body>
</html>
